.image {
    object-fit: cover;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .image {
        height: 30vh;
        width: 100%;
    }

    .button {
        width: 30%;
    }
    
    .contentContainer {
        flex-direction: column;
    }
    
    .contentDetails {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .image {
        height: 60vh;
        width: 60vh;
    }

    .button {
        width: 20%;
    }
    
    .contentContainer {
        flex-direction: row;
    }

    .contentDetails {
        margin-left: 2%;
        width: 40%;
    }
}