.image {
    height: 60vh;
    width: auto;
    object-fit: cover;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textField {
    margin-bottom: 3%;
}