.emptyCart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 767px) {
    .button {
        width: 30%;
    }

    .emptyCart {
        height: 20vh;
    }
    
    .background {
        max-height: 80vh;
    }
}

@media (min-width: 768px) {
    .button {
        width: 20%;
    }

    .emptyCart {
        height: 40vh;
    }
}