.background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edffa7;
}

.image {
    height: 50vh;
}

.imageContainer {
    background-color: #ffffff;
    border-radius: 15%;
    margin-right: 3%;
}

.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: x-large;
    font-weight: bolder;
}

.subTitle {
    margin-bottom: 3%;
}

.forgotPassword {
    text-align: left;
    margin-bottom: 10%;
    font-size: small;
}

@media (max-width: 767px) {
    .button {
        width: 30%;
    }
}

@media (min-width: 768px) {
    .button {
        width: 20%;
    }
}