.background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edffa7;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 15%;
    margin-right: 3%;
}

.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: x-large;
    font-weight: bolder;
}

.subTitle {
    margin-bottom: 3%;
}

.forgotPassword {
    text-align: left;
    margin-bottom: 10%;
    font-size: small;
    cursor: pointer;
    color: #1976d1;
    width: fit-content;
    text-decoration: underline;
}

@media (max-width: 767px) {
    .background {
        flex-direction: column;
    }
    
    .image {
        height: 60vw;
    }
}

@media (min-width: 768px) {
    
    .image {
        height: 50vh;
    }
}