.image {
	width: auto;
	object-fit: cover;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 767px) {
	.image {
		height: 32vh;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.image {
		height: 50vh;
	}
}

@media (min-width: 992px) {
	.image {
		height: 70vh;
	}
}
