.image {
    width: auto;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .image {
        height: 32vh;
    }
}

@media (min-width: 768px) {
    .image {
        height: 70vh;
    }
}