.background {
    width: 80vw;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    box-sizing: border-box;
}

.featured {
    height: 40vh;
    margin: 5vh 0 7vh 0;
    border-top-left-radius: 5% 20%;
    border-bottom-left-radius: 5% 20%;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 0;
    border-top-left-radius: 5% 20%;
    height: 100%;
}

.featuredTitle {
    font-family: unset;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    margin: 0 0 2% 1% !important;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contentItem {
    text-align: center;
    margin: 0 2% 0 2%;
}