.background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100%;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    box-sizing: border-box;
    border-top-left-radius: 4% 10%;
}

.mainImage {
    height: 80vh;
    width: 30vw;
    object-fit: cover;
    border-radius: 15%;
}

.details {
    margin-bottom: 2%;
}

.subShoes:hover {
    cursor: pointer;
}