.background {
    width: 100%;
    border: 1px solid rgb(189, 189, 189);
    padding: 1%;
}

@media (max-width: 767px) {
    .background {
        height: 80%;
    }
}

@media (min-width: 768px) {
    .background {
        height: 90%;
    }
}