.background {
    height: 99.7vh;
    width: 15vw;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    border-top-right-radius: 25% 10%;
    position: sticky;
    top: 0
}

.logo {
    height: 30vh;
    width: 100%;
    display: flex;
    margin-bottom: 3vh;
}