.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    object-fit: cover;
    z-index: 1;
}

.deleteIconButton {
    position: absolute;
    top: 0;
    left: 0;
}


@media (max-width: 767px) {
    .image {
        height: 14vh;
        width: 14vh;
    }
    
    .contentContainer {
        flex-direction: row;
        margin-bottom: 5%;
    }

    .cartItemDetails {
        margin-left: 1%;
        width: 90%;
    }
}

@media (min-width: 768px) {
    .image {
        height: 40vh;
        width: 40vh;
    }

    .contentContainer {
        flex-direction: row;
        margin-bottom: 3%;
    }

    .cartItemDetails {
        margin-left: 2%;
        width: 40%;
    }
}