.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 40vh;
    width: auto;
    object-fit: cover;
    z-index: 1;
}

.deleteIconButton {
    position: absolute;
    top: 0;
    left: 0;
}
