.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 40vh;
    width: auto;
    object-fit: cover;
}

.deleteIcon{
    position: absolute;
    top: 1;
    left: 1;
    z-index: 2;
}